<div id="form" style="width: 750px;">
    <div class="w2ui-page page-0">
    
    <div class="w2ui-field">
			<label>ID :</label>
			<div>
				<input name="id" type="text" maxlength="100" size="60"/>
			</div>
		</div>
		
    #foreach( $header in $gridHeaders )
		<div class="w2ui-field">
			<label>$header.value:</label>
			<div>
				<input name="$header.name" type="text" maxlength="100" size="60"/>
			</div>
		</div>
  	#end
        <div class="w2ui-field">
            <label>details:</label>
            <div>
                <textarea name="details" type="text" style="width: 385px; height: 80px; resize: none"></textarea>
            </div>
        </div>
    </div>

    <div class="w2ui-buttons">
        <button class="btn" name="reset">Reset</button>
        <button class="btn" name="save">Save</button>
    </div>
</div>